<h1>Add a lost cat</h1>

<form action="/lostcats" method="POST">
  <label form="name">Name</label>
  <input type="text" id ="name" name="name">
  
  <label form="phone">Phone number</label>
  <input type="text" id ="phone" name="phone">
  
  <label form="description">Description</label>
  <input type="text" id ="description" name="description">
  
  <input type="submit" value="Submit">
</form>