<h1>User authentication</h1>

<h2>Please enter the password</h2>

<form>
  <div>
    <label form="passwd">password</label>
    <br>
    <input type="text" id ="passwd" name="passwd">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>
</form>