<h1>Lost Cats Noticeboard</h1>

<div>
  <% if all_cats.empty? %>
    There are no lost cats. Good job!
  <% else %>
    <% all_cats.each do |cat|%>
      <article>
        <h2><%= cat.name %></h2>
        <h4><%= cat.phone %></h2>
        <p><%= cat.description %></p>
      </article>
    <% end %>
  <% end %>
</div>

<div>
  <a href="/lostcats/new">Add a cat</a>
</div>