<h1>Add a lost cat</h1>

<form action="/lostcats" method="POST">
  <div>
    <label form="name">Name</label>
    <br>
    <input type="text" id ="name" name="name">
  </div>

  <div>
    <label form="phone">Phone number</label>
    <br>
    <input type="text" id ="phone" name="phone">
  </div>

  <div>
    <label form="description">Description</label>
    <br>
    <input type="text" id ="description" name="description">
  </div>

    <div>
    <label form="passwd">password</label>
    <br>
    <input type="text" id ="passwd" name="passwd">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>
</form>
